@import '~antd/dist/antd.css';

.title {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    box-shadow: 0px -2px 5px;

    font-size: 30px;
    font-weight: bold;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 750px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 750px;
    height: 150px;
}

.card-style {
    display: inline-block;
    margin: 5px;
    padding-top: 25px;
    width: 140px;
    height: 140px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: normal;
}

.button {
    position: fixed;
    width: 100px;
    height: 100px;
    padding-top: 5px;
    bottom: 50px;
    right: 100px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 45px;
    font-weight: bold;
    text-align: center;
}